---
layout: default
title: wetson's Blog
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">
	

{% for category in site.categories %}
        {% for post in category.first %}<li><a class="sidebar-btn" href="{{site.baseurl}}/categories/{{ category | first }}">{{category.first}}({{category.last.size}})</a></li>
        {% endfor %}
{% endfor %}
		
	<h3>Recent articles</h3>
	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
